// Dynamic Matugen theme colors for Niri
include "~/.config/cos-niri/colors-niri.kdl"

layout {
    focus-ring {
        inactive-color "#505050"
    }

    border {
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        color "#0007"
    }
}
