// Startup Daemons & Core Desktop Shell Services
spawn-at-startup "cos-niri-bar"
spawn-at-startup "swaync"
spawn-sh-at-startup "swaybg -i ~/.config/background -m fill"
spawn-sh-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 || /usr/libexec/polkit-mate-authentication-agent-1 || /usr/lib/polkit-kde-authentication-agent-1"
