// Spawn processes at startup
// spawn-at-startup "waybar"
spawn-at-startup "cos-niri-bar"
spawn-at-startup "swaync"
spawn-at-startup "swaybg" "-i" "/home/predator/.config/background" "-m" "fill"
spawn-at-startup "/home/predator/.local/bin/cos-launcher" "--dock"

// Reference suggestions (uncomment to activate):
// spawn-sh-at-startup "awww.sh"
// spawn-sh-at-startup "swayidle"
// spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
// spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "/home/predator/.local/bin/niri-sidebar" "listen"
